.banner {
  padding: 60px 0 0 0;
  .container {
    padding: 0;
  }
  &__nav {
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 25px 0;
      list-style: none;
      margin: 0;
    }
    &-item {
      padding: 10px 15px;
    }
    &-link {
      line-height: 36px;
      height: 36px;
      display: block;
      flex-shrink: 0;
      font-size: 18px;
      opacity: 0.5;
      color: #100a3f;
      transition: 0.3s;
      img {
        height: 100%;
        width: auto;
      }
      &.active {
        opacity: 1;
        pointer-events: none;
      }
    }
  }
}
.banner-slide {
  &__container {
    height: 445px;
    padding: 70px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__title {
    color: #fff;
    font-size: 46px;
    font-weight: 900;
    line-height: 1.2;
  }
  &__title,
  .button {
    position: relative;
    z-index: 2;
  }
}

@media all and(max-width: 1200px) {
  .banner-slide {
    &__container {
      padding: 50px 80px;
      height: 400px;
    }
    &__title {
      font-size: 40px;
    }
  }
}
@media all and(max-width: 992px) {
  .banner {
    padding-top: 0;
  }
  .banner-slide {
    &__container {
      padding: 50px;
      height: 370px;
    }
    &__title {
      font-size: 36px;
    }
  }
}
@media all and(max-width: 576px) {
  .banner__nav-list {
    justify-content: flex-start;
    padding: 20px 0;
  }
  .banner-slide__container {
    padding: 35px 15px;
  }
  .banner__nav-link {
    font-size: 16px;
  }
  .banner__nav-item {
    padding: 5px 15px;
  }
  .banner-slide__title {
    font-size: 28px;
  }
}