.header {
  position: relative;
  z-index: 2;
  &__container {
    position: relative;
  }
  &__content {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  &__nav {
    z-index: 3;
    border-top: 1px solid $contrast-color;
  }
  &__items {
    display: flex;
    align-items: center;
  }
  &__contact-item {
    &:not(:first-child) {
      margin-left: 55px;
    }
  }
  &__btn {
    font-size: 14px;
  }
}
.nav-open {
  display: none;
  border-left: 1px solid $contrast-color;
}
.logo {
  display: flex;
  align-items: center;
  &__link {
    display: block;
    width: 75px;
    height: 75px;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  &__description {
    padding-left: 20px;
    span {
      padding-top: 0.3em;
      display: block;
      font-size: 14px;
      line-height: 1.3;
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  &__close {
    border-left: 1px solid $contrast-color;
    font-size: 30px;
  }
  &__button {
    background-color: #f5f5f5;
    height: 100%;
    display: flex;
    align-items: center;
    height: 58px;
    padding: 0 30px;
    line-height: 1.1;
    color: #db241c;
    text-decoration: none;
    transition: 0.3s;
    span {
      transition: 0.3s;
      position: relative;
      display: block;
      border-bottom: 1px solid #db241c;
    }
    i {
      margin-right: 15px;
      font-size: 21px;
      margin-bottom: 4px;
    }
    &:hover {
      span {
        border-color: transparent;
      }
      background-color: #dbdbdb;
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $contrast-color;
    display: none;
    .btn {
      padding: 0;
      flex: 1 1 100%;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      padding-right: 50px;
    }
  }
  &__link {
    text-decoration: none;
    color: #3e3e3e;
    font-size: 16px;
    line-height: 1em;
    display: flex;
    align-items: center;
    height: 58px;
    position: relative;
    transition: 0.3s;
    i {
      font-size: 12px;
      margin-left: 10px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #dc322c;
      opacity: 0;
      transition: opacity 0.3s;
    }
    &:hover {
      color: #000;
      &:after {
        opacity: 1;
      }
    }
  }
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

@media all and(max-width: 1170px) {
  .header__contact-item:not(:first-child) {
    margin-left: 30px;
  }
  .header__nav .container {
    padding-right: 0;
  }
}
@media all and(max-width: 992px) {
  .header {
    &__content {
      padding: 30px 0;
    }
    &__container {
      border-bottom: 1px solid $contrast-color;
      .container {
        padding-right: 0;
      }
    }
    &__nav {
      position: fixed;
      width: 260px;
      top: 0;
      right: 100%;
      height: 100vh;
      background-color: #fff;
      overflow: hidden;
      .container {
        padding: 0;
        height: 100%;
      }
    }
  }
  .nav-open {
    display: flex;
  }
  .nav {
    position: relative;
    padding: 60px 0;
    height: 100%;
    display: block;
    .small-btn_tel {
      border-right: 1px solid $contrast-color;
    }
    &__head {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    &__list {
      display: block;
      padding: 20px 0;
      overflow: auto;
      max-height: 100%;
    }
    &__item:not(:last-child) {
      padding: 0;
    }
    &__link {
      padding: 18px 20px;
      &:after {
        display: none;
      }
      &:hover {
        background-color: #ececec;
      }
    }
    &__button {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: 1px solid $contrast-color;
      background-color: transparent;
      padding: 0 20px;
    }
  }
  .header__contact-item {
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0;
    border-left: 1px solid $contrast-color;
  }
  .header__contact-item_block {
    display: none;
  }
  .logo__link {
    width: 50px;
    height: 50px;
  }
  .logo__description {
    padding-left: 10px;
  }
  .logo__description span {
    display: block;
    font-size: 14px;
    line-height: 1.2;
  }
  .header__content {
    padding: 0;
  }
}

@media all and(max-width: 768px) {
  .header__contact-item {
    &:first-child {
      display: none;
    }
  }
}
@media all and(max-width: 480px) {
  .header__contact-item {
    display: none;
  }
}