@import "./partials/fonts";

$color1: #392e88;
$color2: #281e6e;
$color3: #ff7e68;

body {
  text-rendering: optimizeSpeed;
  font: 16px "MuseoSansCyrl", sans-serif;
  color: #100a3f;
  min-width: 320px;
  background-color: #f4f6fc;
  position: relative;
  line-height: 1.5;
  font-weight: 500;
}
.wrapper {
  overflow: hidden;
  &__container {
    transition: transform .3s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    &.active {
      transform: translateX(260px);
    }
  }
}
.main {
  position: relative;
  z-index: 1;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding: 0 15px;
}


@media all and(max-width: 576px) {
  
}

@import "./partials/ui";
@import "./partials/header";
@import "./partials/product";
@import "./partials/gallery";
@import "./partials/about";
@import "./partials/text";
@import "./partials/banner";
@import "./partials/footer";