@import "./partials/normalize";
@import "./partials/fontawesome-free-5.5.0-web/scss/fontawesome.scss";
@import "./partials/fontawesome-free-5.5.0-web/scss/brands.scss";
@import "./partials/fontawesome-free-5.5.0-web/scss/regular.scss";
@import "./partials/fontawesome-free-5.5.0-web/scss/solid.scss";
@import "../libs/slick-1.8.1/slick/slick.scss";
@import "./partials/grid";