.about(id='about')
  .container
    .about__container
      h4.title.about__title О компании
      p ООО «Управление Механизации и Строительства»  образованно в 1995 году, сегодня это динамично развивающаяся организация, которая успешно и продуктивно работает на рынке дорожного строительства 17 лет. С 2009г.  ООО «УМиС» вступила СРО, тем самым получив права и преимущества участника СРО, продлила в очередной раз срок действия Сертификата Соответствия ISO9000.
      p Мы производим работы с применением современных строительных материалов и технологий. Компания владеет собственным парком современной спецтехники ведущих мировых марок, за счет чего обеспечивается высокое качество работ, соблюдение технологий строительства дорог, а также высокая производительность. Постоянный и проверенный коллектив высококвалифицированных сотрудников является для фирмы гарантией качества выполняемой работы. Наши специалисты постоянно повышают свой профессиональный уровень, проходя профильное обучение и сертификацию.
      p Сметная документация составляется на основании сборников единых районных единичных расценок на строительные конструкции и работы Госстроя РФ в ценах 2001г. с применением индексов пересчета в цены текущего года.
      p Постоянно отслеживая потребности рынка, фирма ООО «УМиС»  совершенствует технологии предоставляемых нами услуг, тем самым, удовлетворяя потребности не просто рынка в целом, но и каждого клиента в отдельности.
      p Двигаться в ногу со временем нам помогает обмен опыта с предприятиями занятыми в области дорожного строительства. Наша компания проводит взвешенную тарифную политику, устанавливая для заказчиков цены. К каждому клиенту в рамках договорных отношений применяется индивидуальный подход.