section.section.about
  .container
    .about__container.row
      .about__section.col-xl-7.col-sm-12
        h5.section__title О нас и нашей компании
        p Автоматические ворота производства Hormann (Германия) — это современные, продуманные технологичные изделия, которые, кроме всех конструктивных преимуществ, могут служить украшением фасада здания, позволяя подобрать и мотив полотна под любой интерьер и экстерьер. Большинство владельцев гаражей выбирает автоматические гаражные ворота Hormann по причине их устойчивости к взлому и надежной антивандальной защиты.
        p Кроме того, автоматика позволяет экономить время на открывание и закрывание гаражных ворот, а при утере или отказе пульта ДУ гаражные ворота легко открыть вручную. У нас вы можете купить продукцию этой фирмы на выгодных условиях!
      .about__section.col-xl-5.col-sm-12
        h5.section__title Почему мы?
        .why-we
          ul.why-we__list.row
            li.why-we__item.col-xl-12.col-sm-6.col-12
              .why-we__icon
                img(src="img/icons/shield.svg", alt="")
              span.why-we__text 10 лет гарантии на всю продукцию
            li.why-we__item.col-xl-12.col-sm-6.col-12
              .why-we__icon
                img(src="img/icons/time-and-date.svg", alt="")
              span.why-we__text Установка + обслуживание в течении 1 года со дня установки
            li.why-we__item.col-xl-12.col-sm-6.col-12
              .why-we__icon
                img(src="img/icons/repairing-service.svg", alt="")
              span.why-we__text Мы даем 2 года гарантии на установку всех видов изделий
  