.banner
  .container  
    .banner__slider
      .banner-slide
        .banner-slide__container.cover-box
          img(data-src="img/banner/banner-image.jpg", alt="").lazy
          span.banner-slide__title Cладкие цены<br> на определённые<br>  виды продукции
          a(href="#").button.button_type2 Смотреть все продукты
      .banner-slide
        .banner-slide__container.cover-box
          img(data-src="img/banner/banner-image.jpg", alt="").lazy
          span.banner-slide__title Номер 2
          a(href="#").button.button_type2 Смотреть все продукты
      .banner-slide
        .banner-slide__container.cover-box
          img(data-src="img/banner/banner-image.jpg", alt="").lazy
          span.banner-slide__title Номер 3
          a(href="#").button.button_type2 Смотреть все продукты
      .banner-slide
        .banner-slide__container.cover-box
          img(data-src="img/banner/banner-image.jpg", alt="").lazy
          span.banner-slide__title Номер 4
          a(href="#").button.button_type2 Смотреть все продукты
    ul.banner__nav-list
      li.banner__nav-item
        a(href="#").banner__nav-link
          img(src="img/icons/hormann.png", alt="")
      li.banner__nav-item
        a(href="#").banner__nav-link
          span ВОРОТА 
      li.banner__nav-item
        a(href="#").banner__nav-link
          span ДВЕРИ
      li.banner__nav-item
        a(href="#").banner__nav-link
          span АВТОМАТИКА


