footer.footer
  .container
    .footer__container
      .footer__top.row
        .footer__section.col
          ul.footer__list
            li.footer__item
              a(href="#").footer__link Главная
            li.footer__item
              a(href="#").footer__link Виртуальный номер
            li.footer__item
              a(href="#").footer__link Автообзвон
        .footer__section.col
          ul.footer__list
            li.footer__item
              a(href="#").footer__link Софтфон
            li.footer__item
              a(href="#").footer__link О компании
            li.footer__item
              a(href="#").footer__link Тарифы
        .footer__section.col
          ul.footer__list
            li.footer__item
              a(href="#").footer__link Поддержка Asterisk
            li.footer__item
              a(href="#").footer__link Виртуальная АТС
            li.footer__item
              a(href="#").footer__link Статьи
        .footer__section.col
          span.footer__section-title Способы оплаты:
          .payment
            ul.payment__list
              li.payment__item
                a(href="#").payment__link
                  img(data-src="img/payment/icon1.png", alt="").lazy
              li.payment__item
                a(href="#").payment__link
                  img(data-src="img/payment/icon2.png", alt="").lazy
              li.payment__item
                a(href="#").payment__link
                  img(data-src="img/payment/icon3.png", alt="").lazy
              li.payment__item
                a(href="#").payment__link
                  img(data-src="img/payment/icon4.png", alt="").lazy
              li.payment__item
                a(href="#").payment__link
                  img(data-src="img/payment/icon5.png", alt="").lazy
              li.payment__item
                a(href="#").payment__link
                  img(data-src="img/payment/icon6.png", alt="").lazy
        .footer__section.col
          a(href="#").contact-item.contact-item_number
            i.fas.fa-mobile-alt
            | +7 (495) 204-12-15
          .contact-item
            i.fas.fa-map-marker-alt
            | Москва, Зеленоград, Савёлкинский проезд, дом 4
          a(href="#").contact-item
            i.fas.fa-envelope
            | info@sipmaster.ru
      .footer__bottom
        .logo.footer__logo
          a(href="#").logo__link
            img(data-src="img/logos/logo.png", alt="").lazy
          .logo__description 
            span IP телефонии<br> комплексные решения
        a(href="#").btn.footer__btn Личный кабинет