footer.footer
  .footer__section
    .container
      .footer__content.row
        .logo.footer__logo.col
          a(href="#").logo__link
            img(data-src="img/logos/logo.png", alt="").lazy
          .logo__description 
            span Управление Механизации<br> и Строительства
        .footer__item.footer__item_style2.col
          i.fas.fa-phone
          .contact-block
            span.contact-block__title Горячая линия
            a(href="tel:84957397301") 8 (495) 739-73-01
        .footer__item.footer__item_style2.col
          i.fas.fa-phone
          .contact-block
            span.contact-block__title По вопросам аренды
            a(href="tel:84957397306") 8 (495) 739-73-06
        .footer__item.col
          a(href="#").contact-item
            i.fas.fa-envelope
            | info@umis-himki.ru
  .footer__section
    .container
      .footer__content.row
        .copy.col &copy 2019, Все права сохранены. Копирование материалов без согласия администрации запрещено
        .up.col
          button.up__button
            i.fas.fa-chevron-up