.gallery
  .container
    .gallery-slider
      .gallery-slider__head
        h4.title.gallery-slider__title Фото наших работ
        .gallery-slider__nav
          button.gallery-slider__button.gallery-slider__prev
            i.fas.fa-chevron-left
          span
          button.gallery-slider__button.gallery-slider__next
            i.fas.fa-chevron-right
      .gallery-slider__container
        a(href="img/banner/slide1.jpg" data-fancybox="gallery").gallery-slide
          img(data-src="img/banner/slide1.jpg" alt="").lazy
          span Увеличить
        a(href="img/banner/slide2.jpg" data-fancybox="gallery").gallery-slide
          img(data-src="img/banner/slide2.jpg", alt="").lazy
          span Увеличить
        a(href="img/banner/slide3.jpg" data-fancybox="gallery").gallery-slide
          img(data-src="img/banner/slide3.jpg", alt="").lazy
          span Увеличить
        a(href="img/banner/slide4.jpg" data-fancybox="gallery").gallery-slide
          img(data-src="img/banner/slide4.jpg", alt="").lazy
          span Увеличить
        a(href="img/banner/slide3.jpg" data-fancybox="gallery").gallery-slide
          img(data-src="img/banner/slide3.jpg", alt="").lazy
          span Увеличить
