header.header
  .header__top
    .container
      .header__content
        .header__items
          .header__contact-item
            a(href="#").contact-item
              i.fas.fa-envelope
              | info@pimon.ru
          .header__contact-item
            a(href="#").contact-item.contact-item_phone
              i.fas.fa-mobile-alt
              | 8 (800) 555-00-11
  .header__bottom
    .container
      a(href="#").logo
        img(src="img/logos/logo.svg", alt="").logo__image
      a(href="#").nav-open
        i.fas.fa-bars
      .header__nav
        nav.nav
          .nav__head
            a(href="#").small-btn
              i.fas.fa-phone
            a(href="#").nav-close
              i.fas.fa-times
          .nav__content
            ul.nav__list.sl--scrollable
              li.nav__item
                a(href="#").nav__link Главная 
              li.nav__item
                a(href="#").nav__link Продукция                  
              li.nav__item
                a(href="#").nav__link Сервис
              li.nav__item
                a(href="#").nav__link Каталоги
              li.nav__item
                a(href="#").nav__link Фото
              li.nav__item
                a(href="#").nav__link Статьи
              li.nav__item
                a(href="#").nav__link Контакты
            ul.nav__list
              li.nav__item
                a(href="mailto:info@pimon.ru").contact-item
                  i.fas.fa-envelope
                  | info@pimon.ru
              li.nav__item
                a(href="tel:88005550011").contact-item.contact-item_phone
                  i.fas.fa-mobile-alt
                  | 8 (800) 555-00-11
          a(href="#").button.button_type1
            i.fas.fa-phone
            span Заказать звонок
    .overlay

    