section.section.product
  .container
    h5.section__title Наша продукция
    .product__container.row
      .product-block.col-xl-4.col-lg-6.col-12
        a(href="#").product-block__container.t-size-18
          .product-block__image.cover-box.cover-box_contain
            img(data-src="img/banner/product1.jpg", alt="").lazy
          span.product-block__title Бытовые ворота<br> и автоматика
      .product-block.col-xl-4.col-lg-6.col-12
        a(href="#").product-block__container.t-size-18
          .product-block__image.cover-box.cover-box_contain
            img(data-src="img/banner/product2.jpg", alt="").lazy
          span.product-block__title Двери Hormann
      .product-block.col-xl-4.col-lg-6.col-12
        a(href="#").product-block__container.t-size-18
          .product-block__image.cover-box.cover-box_contain
            img(data-src="img/banner/product3.jpg", alt="").lazy
          span.product-block__title Электроприводы въездных ворот
      .product-block.col-xl-4.col-lg-6.col-12
        a(href="#").product-block__container.t-size-18
          .product-block__image.cover-box.cover-box_contain
            img(data-src="img/banner/product4.jpg", alt="").lazy
          span.product-block__title Перегрузочная техника Hormann
      .product-block.col-xl-4.col-lg-6.col-12
        a(href="#").product-block__container.t-size-18
          .product-block__image.cover-box.cover-box_contain
            img(data-src="img/banner/product5.jpg", alt="").lazy
          span.product-block__title Промышленные ворота и автоматика