section.services
  .container
    h4.title.services__title Наши услуги
    .services__container.row
      .services-block.col
        .services-block__container
          .services-block__head
            .services-block__icon.cover-box
              img(data-src="img/icons/ico1.svg", alt="").lazy
            h5.services-block__title Ремонт и<br> строительство дорог
          .services-block__content
            p Высокое качество ремонта дорог и низкие цены обеспечиваются применением всего спектра собственной ремонтной техники и прямыми контактами.
      .services-block.col
        .services-block__container
          .services-block__head
            .services-block__icon.cover-box
              img(data-src="img/icons/ico2.svg", alt="").lazy
            h5.services-block__title Благоустройство<br> территорий
          .services-block__content
            p Высокое качество ремонта дорог и низкие цены обеспечиваются применением всего спектра собственной ремонтной техники и прямыми контактами.
      .services-block.col
        .services-block__container
          .services-block__head
            .services-block__icon.cover-box
              img(data-src="img/icons/ico3.svg", alt="").lazy
            h5.services-block__title Строительно-монтажные<br> работы
          .services-block__content
            p  Высокое качество ремонта дорог и низкие цены обеспечиваются применением всего спектра собственной ремонтной техники и прямыми контактами.
      .services-block.col
        .services-block__container
          .services-block__head
            .services-block__icon.cover-box
              img(data-src="img/icons/ico4.svg", alt="").lazy
            h5.services-block__title Отделочные<br> работы
          .services-block__content
            p Высокое качество ремонта дорог и низкие цены обеспечиваются применением всего спектра собственной ремонтной техники и прямыми контактами.
      .services-block.col
        .services-block__container
          .services-block__head
            .services-block__icon.cover-box
              img(data-src="img/icons/ico5.svg", alt="").lazy
            h5.services-block__title Кровельные<br> работы
          .services-block__content
            p Высокое качество ремонта дорог и низкие цены обеспечиваются применением всего спектра собственной ремонтной техники и прямыми контактами.
      .services-block.col
        .services-block__container
          .services-block__head
            .services-block__icon.cover-box
              img(data-src="img/icons/ico6.svg", alt="").lazy
            h5.services-block__title Вывоз строительного<br> мусора
          .services-block__content
            p Высокое качество ремонта дорог и низкие цены обеспечиваются применением всего спектра собственной ремонтной техники и прямыми контактами.
      .services-block.col
        .services-block__container
          .services-block__head
            .services-block__icon.cover-box
              img(data-src="img/icons/ico7.svg", alt="").lazy
            h5.services-block__title Производство<br> бетона
          .services-block__content
            p Высокое качество ремонта дорог и низкие цены обеспечиваются применением всего спектра собственной ремонтной техники и прямыми контактами.
      .services-block.col
        .services-block__container
          .services-block__head
            .services-block__icon.cover-box
              img(data-src="img/icons/ico8.svg", alt="").lazy
            h5.services-block__title Продажа песка, щебня,<br> асфальтовой крошки
          .services-block__content
            p Высокое качество ремонта дорог и низкие цены обеспечиваются применением всего спектра собственной ремонтной техники и прямыми контактами.
      .services-block.col
        .services-block__container
          .services-block__head
            .services-block__icon.cover-box
              img(data-src="img/icons/ico9.svg", alt="").lazy
            h5.services-block__title Производство<br> мебели
          .services-block__content
            p Высокое качество ремонта дорог и низкие цены обеспечиваются применением всего спектра собственной ремонтной техники и прямыми контактами.